.nav-items {
  margin-top: 5%;
  padding-right: 10.5%;
  float: right;
  display : block;
}

.nav-items span {
  padding-right: 1rem;
  color: white;
  font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
