<div style="border: lightgray 1px solid; background:lightgray">
  <div>
    <div class="flight-header">
      <span>BOOK YOUR FLIGHTS</span>
    </div>
    <div style="padding-left: 2.5%; padding-right: 2.5%">
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <div style="width: 90%">
            <label style="font-size: larger;">FROM</label>
            <input style="margin-top: 10px; border: black 1px solid; padding: 5px; background-color: white;" placeholder="Eg. Melbourne, Australia" matInput/>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div style="width: 90%">
          <label style="font-size: larger;">TO</label>
          <input style="margin-top: 10px; border: black 1px solid; padding: 5px; background-color: white;" placeholder="Eg. New York, United States" matInput/>
        </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="padding-left: 3%; padding-right: 3%">
      <mat-grid-list cols="3" rowHeight="100px">
        <mat-grid-tile>
          <div style="width: 90%">
            <label style="font-size: larger;">DEPARTURE</label>
            <input style="margin-top: 10px; border: black 1px solid; padding: 5px; background-color: white;" placeholder="MM/DD/YY" matInput/>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div style="width: 90%">
          <label style="font-size: larger;">RETURN</label>
          <input style="margin-top: 10px; border: black 1px solid; padding: 5px; background-color: white;" placeholder="MM/DD/YY" matInput/>
        </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div style="width: 88%">
          <label style="font-size: larger;">ADULTS</label>
          <input style="margin-top: 10px; border: black 1px solid; padding: 5px; background-color: white;" placeholder="Eg. 2" matInput/>
        </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>
    <div style="padding-left: 3%; padding-right: 3%">
      <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile>
          <div style="width: 90%">
            <button mat-raised-button color="primary">Search Flights</button>
          </div>
        </mat-grid-tile>
        <mat-grid-tile>
          <div style="width: 90%; ">
          <label style="font-size: larger; color: primary; float: right; text-decoration: underline;">Advanced Search</label>
        </div>
        </mat-grid-tile>
      </mat-grid-list>
    </div>

  </div>
</div>


